<div id="login">
  <%= content_tag :h2, t('active_admin.devise.set_password.title') %>
  <%= active_admin_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => {:method => 'put'}) do |f|
    f.inputs do
      f.input :password
      f.input :password_confirmation
    end
    f.inputs do
      hidden_field_tag :confirmation_token, @confirmation_token
    end
    f.actions do
      f.action :submit, :label => t('active_admin.devise.set_password.submit'), :button_html => { :value => t('active_admin.devise.set_password.submit') }
    end
  end %>
</div>
